PROJECT_NAME="Your Project Name"
API_V1_STR="/api"
SECRET_KEY="YOUR_SUPER_SECRET_KEY"
ACCESS_TOKEN_EXPIRE_MINUTES=1440
MONGODB_URL="mongodb://username:password@host:port/database"
DATABASE_NAME="your_database_name"
